/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1, h2 {
    color: #333;
}

h1 {
    text-align: center;
}

/* Botones */
button {
    background-color: #007BFF; /* Color azul */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: white;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #007BFF;
    color: white;
}

/* Formularios */
form {
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="submit"],
input[type="hidden"] {
    width: calc(100% - 22px); /* Ajusta el ancho considerando el padding */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

/* Estilos Responsivos */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    button {
        width: 100%; /* Botones ocupan todo el ancho en pantallas pequeñas */
        padding: 15px;
    }

    table, 
    th, 
    td {
        font-size: 14px; /* Reduce el tamaño de fuente en pantallas pequeñas */
    }

    input[type="text"],
    input[type="number"] {
        font-size: 14px; /* Reduce el tamaño de fuente en entradas */
    }
}
